<?xml version="1.0" encoding="ISO-8859-1"?>
<pnml>
    <net id="net" type="https://www.pnml.org">
        <name>
            <text>PetriNet</text>
        </name>
        <page id="Page0">
            {% for place in places %}
            <place id="{{place.id}}">
                <name>
                    <text>{% if place.get_name() != "" %}{{ place.get_name() }}{% else %}P{{ loop.index }}{% endif %}</text>
                </name>
                <initialMarking>
                    <text>{{place.markers}}</text>
                </initialMarking>
                <toolspecific tool="petri-recognizer-api">
                    <coordinates x="{{place.center.x}}" y="{{place.center.y}}" />
                </toolspecific>
                <graphics>
                    <position x="{{place.center.x}}" y="{{place.center.y}}" />
                </graphics>
            </place>
            {% endfor %}
            {% for transition in transitions %}
            <transition id="{{transition.id}}">
                <name>
                    <text>{% if transition.get_name() != "" %}{{ transition.get_name() }}{% else %}T{{ loop.index }}{% endif %}</text>
                </name>
                <toolspecific tool="petri-recognizer-api">
                    <coordinates x="{{transition.center.x}}" y="{{transition.center.y}}" />
                </toolspecific>
                <graphics>
                    <position x="{{transition.center.x}}" y="{{transition.center.y}}" />
                </graphics>
            </transition>
            {% endfor %}
            {% for arc in arcs %}
            <arc id="{{arc.id}}" source="{{arc.source.id}}" target="{{arc.target.id}}">
                <inscription>
                    <text>{{ arc.weight }}</text>
                </inscription>
            </arc>
            {% endfor %}
        </page>
    </net>
</pnml>

